html, body, h1, h2, p, a {
    margin: 0;
    padding: 0;    
}
html, body {
    height: 100%;
    width: 100%;
    font-family: Montserrat Semi-Bold, Montserrat, sans-serif;
}
img {
border-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
